.createButton {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    transition: .5s ease-in-out;
    background-image: url("../../assets/plusIcon.svg");
    background-size: cover;
    margin: 0 .5rem;
}

.createButton:hover {
    cursor: pointer;
    background-color: #ccc;
}

.createButton p {
    text-transform: uppercase;
    position: relative;
    bottom: -3rem;
    text-align: center;
    max-height: 1rem;
    max-width: 1rem;
}