.othersItemBox {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border: 4px solid #d32fd3;
    border-radius: 10px;
    margin: 0 .5rem;
    margin-bottom: 2.8rem;
    transition: .3s ease-in-out;
    background-position: center;
    background-size: cover;
}

.othersItemBox p {
    text-transform: uppercase;
    position: relative;
    bottom: -3rem;
    text-align: center;
    max-height: 1rem;
}

.othersItemBox:hover {
    cursor: pointer;
    background-color: #d32fd3;
}