* {
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 1rem 5rem;
}

hr {
  color: #d32fd3;
  width: 100%;
  margin-bottom: 1rem;
}

div.brand {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  place-content: center;
}

h1.brandTitle {
  font-family: Ubuntu, "sans-serif";
  font-weight: 700;
  font-size: 2rem;
  color: #d32fd3;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  margin: 1rem auto;
}

nav#navBar {
  width: fit-content;
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #ccc;
  border-radius: 50px;
}

nav#navBar div.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 .5rem;
  padding: 1rem;
  border-radius: 50%;
  transition: .5s ease-in-out;
}

nav#navBar div.navItem:hover {
  cursor: pointer;
  background-color: #eb1feb;
  transform: scale(1.1);
}

main {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

section {
  width: 100%;
  height: 150vh;
}

section#profile {
  background-color: #eb1feb;
}

section#profile div#profileCard {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

section#content div#contentPost {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

section#content div#contentPost form {
  display: grid;
  grid-template-columns: 90% 10%;
  background-color: #ccc;
  padding: 1rem;
  border-radius: 30px;
}

section#content div#contentPost form textarea {
  box-sizing: border-box;
  border-radius: 30px 0 0 30px;
  padding: 0 1rem;
  line-height: 2rem;
  resize: none;
}

section#content div#contentPost form button {
  box-sizing: border-box;
  padding: 0.7rem;
  border-radius: 0 30px 30px 0;
}

section#content div#contentPost form textarea,
section#content div#contentPost form button,
section#content div#contentPost form textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

div.postItem {
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  min-height: 5rem;
  padding: 1rem;
  background-color: #ccc;
  display: flex;
  margin: .5rem 0;
  border-radius: 15px;
}

div.postItem span {
  font-size: .7rem;
}

section#others {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#others div.communitys,
section#others div.games {
  width: 90%;
  min-height: 10vh;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section#others div.communitys h3,
section#others div.games h3 {
  margin-bottom: 1rem;
}

section#others div.communitys {
  margin-bottom: 4rem;
}